venv/
utils/metadata-parser/logs/
utils/metadata-parser/test_files/
utils/feature-extractor/results/
dataset/
notebooks/.ipynb_checkpoints/
trainers/.ipynb_checkpoints/
*.csv
*.doc
*.docx
*.pdf
models/info.txt
*.pyc
*.log
instaProfiles/*
instaProfiles/*/*
*.jpg
*.jpeg
*.mp4
*.xz
hf_token.txt
models/*.html