venv/
utils/metadata-parser/logs/
utils/metadata-parser/test_files/
utils/feature-extractor/results/
dataset/
notebooks/.ipynb_checkpoints/
*.csv
*.doc
*.docx
*.pdf
models/info.txt
*.html
*.pyc
*.log
instaProfiles/*/*
*.jpg
*.jpeg
*.png
*.mp4
*.xz